section {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;


  .left-block, .right-block {
    width: calc((100% - x) / 4);
    margin-right: 20px;
    background-color: lightgray;
  }
  
  .middle-block {
    background-color: lightgray;
    width: ((100% - x) / 2)
  }
}