.wrapper {
  width: 100%;
  overflow: hidden;
  

  .left {
    width: 70%;
    float:left
  }
  .right {
    width: 30%;
    float:left;
    
  }
  .menu {
    a {
      display: block;
      padding: 5px;
    }
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
      li {
        float: left;
        margin-right: 20px;
      }
    }
  }
}